<p>Hi <%= locals.name %>,</p>

<p>Thank you for purchasing a ticket for the <%= locals.event.name %> event. Below are the details of your ticket:</p>

<ul>
    <li><strong>Event:</strong> <%= locals.event.name %></li>
    <li><strong>Date:</strong> <%= locals.event.date %></li>
    <li><strong>Location:</strong> <%= locals.event.location %></li>
    <li><strong>Ticket ID:</strong> <%= locals.id %></li>
    <li><strong>Owner:</strong> <%= locals.name %></li>
</ul>

<!-- Centered div for QR code -->
<div style="text-align: center;">
    <img src=<%= locals.qrCode  %> alt="QR Code">
</div>

<p>Please find attached your ticket in PDF format. Present this ticket at the event entrance for entry.</p>

<p>If you have any questions or concerns, feel free to contact us. We look forward to seeing you at the event!</p>

<p>Best regards,<br>Eventful App</p>
